<swiper-container
  direction="vertical"
  loop="true"
  auto-height="true"
  allow-touch-move="false"
  autoplay-delay="1000"
  autoplay-disable-on-interaction="false"
  pagination="false" 
  navigation="false">
  <ng-container *ngFor="let item of content; let i = index" >
    <swiper-slide *ngIf="item.content" [attr.data-swiper-autoplay]="2000 * (i+1)">
      <div class="d-flex notification-slider justify-content-xxl-center">
        <div class="timer-notification">
          <h6 [innerHtml]="item.content"></h6>
        </div>
      </div>
    </swiper-slide>
  </ng-container>
</swiper-container>
